<div class="container clearfix">
  <h3>Click below to join this group.</h3>

<% if check_membership(@group) %>
  <p>You are already a member of this group.</p>
  <%= link_to "View Group", group_path(@group) %>
<% else %>
  <%= button_to "Join this group", join_group_path(@group, @invite), class: 'button color-5'%>
<% end %>

</div>
