<div class="container">
  <p>Invite your friends to this group!</p>

  <%= form_for [@group @invite] do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit "Send Invite", class: 'button color-5' %>
  <% end %>
</div>
