<div class="container clearfix">
  <h1><%= @group.name %></h1>
  <h3>Group Members:</h3>
  <ul>
    <% @group.members.each do |member| %>
      <li><%= link_to member.name, user_path(member) %></li>
    <% end %>
  </ul>

  <%= link_to "Invite a friend to join this group!", new_group_invite_path(group_id: @group.id) %>
  <br>

  <%= link_to "Leave this group", delete_grouping_path(@grouping), method: :delete, confirm: "Are you sure you want to leave this group?" %>

</div>
