<div class="rating">
  Fun Rating: <%= review.fun_rating %>
</div>
<div class="rating">
  Difficulty Rating: <%= review.difficulty_rating %>
</div>
<div class="review-content">
  Content: <%= review.content %>
</div>
<br>
