<h1>You have been invited to join a FreeParking group!</h1>
<p>Follow the link below to join it.</p>

  <a href="https://whispering-sierra-5323.herokuapp.com/invites/accept?invite_token=<%= @invite.token %>">Click Here</a>
<!--   <a href="http://localhost:3000/invites/accept?invite_token=<%= @invite.token %>">Click Here</a> -->
