body {
    background-color: #FBFFF0;
}

.container {
	background-color: #ffffff;
	border: 2pt solid #c6ceb2;
	border-radius: 30px;
  margin: 0 auto;
  padding: 2%;
  width: 90%;
  height: auto;
}

.container-nested {
  /*background-color: #ffffff;*/
  /*border: 5pt solid #c6ceb2;*/
  /*border-radius: 30px;*/
  /*margin: 0 auto;*/
  padding: 2%;
  width: 100%;
}

/* LAYOUT CSS */
.responsive-img {
    max-width: 100%;
    height: auto;
    width: 100%;
}
/* =Top Bar
-------------------------------------------------------------- */
#top-bar {
  background-color: #311c3a;
}

#top-bar a {
  color: white;
  /*display: inline-block;*/
  font-size: .8em;
  margin: 0 10px;
  padding: 5px;
  text-transform: uppercase;
}

/*#top-bar a:hover {
  background-color: #a91c44;

}*/

#top-bar a:hover {
  color: #9c8f7f;
}
/*--- left and right spans of top bar ---*/
span.login,
span.logout {
  margin-left: 10px;
  display: block;
  float: left;
  text-align: left;
  /*width: 50%;*/
}

span.profile {
  margin-right: 10px;
  display: block;
  float: right;
  text-align: right;
  width: 50%;
}

  @media all and (max-width: 600px) {
    .main {
      width: 100%;
    }
  }

.fa-photo, .fa-th-large,  {
  color: #00B4CC;
  /*padding: 1em;*/
  /*text-shadow: 1px 1px 1px #000;*/
}
.fa-photo:hover { color: white; }

.my-groups, .my-reviews, .my-games {
  border: 1pt solid silver;
  width: 45%;
  padding:30px;
  margin-top: 20px;
  border-radius: 30px;

}

.game-details {
  /*border: 1pt solid silver;*/
  width: 65%;
  padding: 10px;
  /*margin-top: 20px;*/

}

.right {
  float: right;
}

.bio_profile {
  display: inline;
  clear: right;
}

ul.button-group {
  margin: 0 auto;
}

.button.color-5 {
    background: #a91c44;
    color: #fff; }
    .button.color-5:hover, .button.color-5:focus {
      background: #4F0D1F;
      color: #fff; }

.button a {
  color: white;
}
.button a:hover {
    color: #C6CEB2;
}
.button.new {
    /*margin: 0 auto;*/
    /*float: right;*/
    margin: 10px;
    border: 3pt solid #A91C44;
    background: #311C3A;
    color: #fff; }
    .button.new:hover, .button.new:focus {
      background: #6F823E;
      color: #fff; }

.button.game {
  /*border-radius: 0;*/
      margin: 10px;
    background-color: #a91c44;
    color: #C6CEB2; }
    .button.game:hover, .button.game:focus {
      color: #C6CEB2;
      background: #4F0D1F;
    }



    nav .button {
      /*border: 0;*/
      background: #eb974e;
/*      -webkit-box-shadow: 0;
      -moz-box-shadow: 0;
      box-shadow: 0;*/
      /*font-size: 0.75em;*/
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
      padding-top: 10px;
      padding-bottom: 10px;
/*      -webkit-box-shadow: 0px 4px 0px #a74d46;
      -moz-box-shadow: 0px 4px 0px #a74d46;
      box-shadow: 0px 4px 0px #a74d46;*/
    }
    nav .button:hover {
      /*background: #e88a37;*/
      color: white;
    }
/*    nav .button:active {
      -webkit-box-shadow: 0px 4px 0px #a74d46;
      -moz-box-shadow: 0px 4px 0px #a74d46;
      box-shadow: 0px 4px 0px #a74d46;
      background: #e78129; }*/

      li {
        list-style: none;
      }


td a {
   font-weight: bold;
}

.table-header-row {
  background-color: #6D4A56;
}

.table {
  text-align: center;
}

.game-img {
  max-width: 250px;
  max-height: 250px;
}

.game-details ul li {
display: inline-block;
font-size: 12pt;
text-align: center;
  margin-left: 10%;
}

.game-reviews {
  background-color: #FBFFF0;
  padding: 10px;
  margin: 10px;
  display: inline;
  font-size: 12pt;
}

.review-details ul li {
  background-color: #FBFFF0;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  font-size: 12pt;
  /*text-align: center;*/
  float: right;
  width: 75%;
}
.reviewer {
  font-style: italic;
}
.rating {
  /*display: inline-block;*/
  border: 2pt solid #A91C44;
  background-color: #C6CEB2;
  padding-top: 1.5em;
  text-align: center;
  color: #A91C44;
  font-weight: bold;
  width: 100px;
  height: 100px;
  margin: 20px;

}

.rating.sm {
  /*display: inline-block;*/
  border: 2pt solid #A91C44;
  background-color: #C6CEB2;
  padding-top: .2em;
  text-align: center;
  color: #A91C44;
  font-weight: bold;
  width: 50px;
  height: 50px;
  margin: 10px;

}

.sm {
  font-size: .75em;
}

.has_game {

}
.nav-wrapper {

}

.alert {
  color: #1eb0d4;
  margin: 0 auto;
  padding: 3%;
  width: 100%;
  font-size: 1.4em;
}

.bullets {
  line-height: 1;
}

